<article class="post">
    <div class="title">
        <strong>{{title}}</strong>
    </div>

    <div class="body">
        {{post_text}}
    </div>

    <div class="meta" style="opacity: 0.6;font-size: 90%">
        {{user.username}} posted this on {{format_date created_at}}
    </div>
</article>