<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap">
    <title>Tech Blog</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <nav>
                <a class="homepage" href="/">Homepage</a>
                <a class="homepage" href="/dashboard">Dashboard</a>
                {{#if loggedIn}}
                    <a class="homepage" id="logout" href="/logout">Log Out</a>
                {{else}}
                    <a class="homepage" href="/login">Log In</a>
                {{/if}}
            </nav>

            <h1>
                <p class="blog-title">Tech Blog</p>
            </h1>
            
        </header>

        <main>
            {{{body}}}
        </main>
    </div>
</body>
</html>

{{#if loggedIn}}
    <script src="/scripts/logout.js"></script>
{{/if}}