<ol class="post-list">
    {{#each posts as |post|}}
        <a class="select-post" href="/post/{{id}}">
            <article class="post">
                <div class="title">
                    {{title}}
                </div>

                <div class="body">
                    {{post_text}}
                </div>
            </article>
        </a>
    {{/each}}
</ol>