<ol class="post-list">
    {{#each posts as |post|}}
        <article class="post">
            <div class="title">
                <a class="select-post" href="/post/{{id}}">{{title}}</a>
            </div>

            <div class="body">
                {{post_text}}
            </div>
        </article>
    {{/each}}
</ol>