<form class="login-form">
    <div>
        <label for="email-login">Email:</label>
        <input type="text" id="email-login"/>
    </div>

    <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login"/>
    </div>

    <div>
        <button type="submit">Log In</button>
    </div>

    <div class="sign-up">
        Don't Have an account?
        <a href="/signup">Create An Account</a>
    </div>
</form>

<script src="/scripts/login.js"></script>