<form class="login-form">
    <div>
        <label for="username-login">Username::</label>
        <input id="username-login" type="text"/>
    </div>

    <div>
        <label for="password-login">Password:</label>
        <input id="password-login" type="password"/>
    </div>

    <div>
        <button type="submit">Log In</button>
    </div>

    <div class="sign-up">
        Don't Have an account?
        <a href="/signup">Create An Account</a>
    </div>
</form>

<script src="/scripts/login.js"></script>