<form class="login-form">
    <div class="login-container">
        <div class="username-spot">
            <label for="username-login">Username:</label>
            <input id="username-login" type="text"/>
        </div>

        <div class="password-spot">
            <label for="password-login">Password:</label>
            <input id="password-login" type="password"/>
        </div>

        <div class="login-spot">
            <button type="submit">Log In</button>
        </div>

        <div class="sign-up">
            <a  href="/signup">Sign up instead</a>
        </div>
    </div>
</form>

<script src="./scripts/login.js"></script>