<section>
    <h2>Create New Post</h2>
    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input name="post-title" id="post-title" type="text" size="60"/>
        </div>

        <div>
            <label for="post-text">Content</label>
            <textarea name="post-text"></textarea>
        </div>

        <button class="btn" type="submit">Create Post</button>
    </form>
</section>

<script src="/scripts/add.js"></script>