<section>
    <h2>Create New Post</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Post Title:</label>
            <input type="text" id="post-title" name="post-title" />
        </div>

        <div>
            <label for="post-text">Post Text:</label>
            <input id="post-text" name="post-text" />
        </div>

        <button class="create-btn" type="submit">Create</button>
    </form>
</section>

<script src="/scripts/add.js"></script>