<form class="signup-form">
    <div class="login-container">
        <div class="username-spot">
            <label for="username-signup">Username:</label>
            <input id="username-signup" type="text"/>
        </div>

        <div class="password-spot">
            <label for="password-signup">Password:</label>
            <input id="password-signup" type="password"/>
        </div>

        <div class="login-spot" style="margin: 15px">
            <button type="submit">Create</button>
        </div>
    </div>
</form>

<script src="/scripts/signUp.js"></script>