<div class="single-form">
    {{> info post}}

    {{#if loggedIn}}
        <form class="comment-form">
            <div>
                <textarea name="comment-body"></textarea>
            </div>

            <div>
                <button type="submit">Add Comment</button>
            </div>
        </form>

        <script src="/scripts/comment.js"></script>
    {{/if}}

    {{>comments post.comments}}
</div>