* {
    box-sizing: border-box;
}

:root {
    --primary-color: white;
    --primary-hover: red;
}

body, html, input, textarea {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

a {
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    transition: color .1s;
}

a:hover {
    color: var(--primary-hover);
}

.blog-title {
    color: white;
    font-size: 50px;
    margin: 25px;
    padding: 10px;
    border-style: solid;
    border-radius: 15px;
    border-color: white;
    box-shadow: 10px 10px 0px #888888;
    display: inline-block;
}

button {
    background-color: gray;
    border: 0px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 10px;
    transition: background-color .1s;
    min-width: 120px;
    font-size: 20px;
}

button:hover{
    background-color: var(--primary-hover);
}

.btn-no-style {
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 100%;
    font-weight: bold;
    margin-left: 16px;
    padding: 0px;
    text-decoration: none;
    transition: color .1s;
}

.btn-no-style:hover {
    background: none;
    color: var(--primary-hover);
}

.comment {
    line-height: 150%;
    margin-bottom: 2%;
    padding: 0px;
    border-radius: 4px;
    margin: 15px;
    background-color: white;
    border-color: rgb(58, 17, 17);
    border-style: solid;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    display: block;
}

#comment-body {
    min-width: 475px;
    border: 3px;
    border-color: blue;
    border-style: solid;
    height: 40px;
    font-size: 20px;
}

.comments {
    margin: 0px;
    padding: 0px;
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.comment-form {
    margin-bottom: 5%;
}

.comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
    color: gray;
}

.comment:nth-child(odd) {
    background-color: white;
}

.comment .text {
    color: rgb(58, 17, 17);
    padding: 5px;
}

.comment-title {
    background-color: rgb(58, 17, 17);
    padding: 5px;
}

.create-btn {
    color:white;
    flex-wrap: wrap;
    justify-content: center;
}

.create-btn:hover {
    color:white;
}

.edit-link {
    display: block;
    margin: -1.5% 0px 2% 0px;
}

.edit-post-form {
    margin-bottom: 5%;
}

footer {
    border-top: 1px solid gray;
    display: flex;
    font-size: 110%;
    justify-content: center;
    padding: 1%;
}

form > div {
    margin-bottom: 2%;
}

form label {
    display: block;
}

header {
    border-bottom: 1px solid gray;
    display: grid;
    justify-content: space-between;
    padding: 0px 1%;
    background-color: rgb(58, 17, 17);
}

header h1 {
    font-size: 1em;
}

.homepage {
    color: var(--primary-color);
    font-weight: bold;
    margin: 20px;
    text-decoration: none;
    transition: color .1s;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
    color: red;
 }

input {
    border: 1px solid gray;
    padding: .5%;
}

.login-container {
    line-height: 150%;
    margin-bottom: 2%;
    padding: 0px;
    border-radius: 4px;
    margin: 15px;
    background-color: white;
    border-color: rgb(58, 17, 17);
    border-style: solid;
    justify-content: center;
    align-items: center;
    width: 210px;
    display: block;
    font-size: 20px;
}

.login-form {
    margin: 0px;
    padding: 0px;
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

main {
    flex: 1px;
    padding: 2% 4%;
}

nav {
    padding-top: 25px;
}

.new-post-btn {
    display: grid;
    justify-content: center;
}

.new-post-form input {
    width: 300px;
}

#password-login {
    height: 40px;
    font-size: 20px;
    max-width: 175px;
}

#password-signup {
    height: 40px;
    font-size: 20px;
    max-width: 175px;
}

.password-spot {
    text-align: left;
    margin: 15px;
}

.post {
    line-height: 150%;
    margin-bottom: 2%;
    padding: 0px;
    border-radius: 4px;
    margin: 15px;
    background-color: white;
    border-color: rgb(58, 17, 17);
    border-style: solid;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    display: block;
}

.post .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
    color: gray;
}

.post-list {
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

#post-text {
    min-width: 475px;
    border: 3px;
    border-color: blue;
    border-style: solid;
    height: 40px;
    font-size: 20px;
}

#post-title {
    min-width: 475px;
    border: 3px;
    border-color: blue;
    border-style: solid;
    height: 40px;
    font-size: 20px;
}

.post-title-spot {
    text-align: left;
    margin: 15px;
    font-size: 20px;
}

.post .body {
    color: rgb(58, 17, 17);
    padding: 5px;
}

.post .title {
    background-color: rgb(58, 17, 17);
    padding: 5px;
}

.post .title span {
    color: gray;
    font-size: 90%;
    font-style: italic;
}

.sign-up {
    text-align: center;
    margin: 15px;
    border-radius: 5px;
    background-color: gray;
    border: 0px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 1%;
    transition: background-color .1s;
    font-size: 15px;
}

.signup-form {
    margin: 0px;
    padding: 0px;
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.single-form {
    margin: 0px;
    padding: 0px;
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 20px;
}

textarea {
    border: 1px solid gray;
    border-radius: 5px;
    min-height: 100px;
    min-width: 40%;
	padding: .5%;
}

textarea:focus, input:focus {
    outline: none;
    border: 1px solid var(--primary-hover);
}

#username-login {
    height: 40px;
    font-size: 20px;
    max-width: 175px;
}

#username-signup {
    height: 40px;
    font-size: 20px;
    max-width: 175px;
}

.username-spot {
    text-align: left;
    margin: 15px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    max-width: 1200px;
    min-height: 100%;
    width: 100%;
}